# 🔐 Archivos sensibles //.gitignore
.venv/
env/
venv/

# Archivos de entorno
.env
.env.local
.env.production
.env.docker

# 🐍 Python
__pycache__/
*.pyc
db.sqlite3

# Base de datos
*.sqlite3
*.db

# 📦 Node
node_modules/
dist/

# 🛠 VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Archivos estáticos
staticfiles/
static/

Frontend_Movil/

# Docker
*.pid
.dockerignore

# Evitar archivos basura del sistema
*.swp
*.swo
*~